.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;
  width: 30vw;
}

.weather-icon {
  padding: 2em;
  color: lightslategrey;
  background-color: darkslategray;
  border-radius: 10px 10px 0px 0px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.weather-info-container {
  display: flex;
  justify-content: space-around;
  padding: 1em;
}
.weather-other-info-container {
  display: flex;
  justify-content: space-around;
  padding: 0.5em;
  height: 1.5em;
  background-color: cadetblue;
  color: white;
  border-radius: 0px 0px 10px 10px;
}
.weather-other-info-item {
  display: flex;
  /* align-items: flex-start; */
  justify-content: center;
  font-size: 1em;
}

.weather-info-item p {
  font-size: 2rem;
  margin: 0;
}

.min {
  color: darkcyan;
}

.max {
  color: darksalmon;
}

svg .weather-other-info-item > .icon-tabler {
  width: 24px;
}

@media (max-width: 900px) {
  .card {
    width: 50vw;
  }

  .weather-info-item p {
    font-size: 1rem;
    margin: 0;
  }
}
