h1 {
  display: flex;
  justify-content: center;
  white-space: break-spaces;
}

.text-accent {
  color: darkslategray;
  text-decoration: underline;
}

.weather-content {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 900px) {
  h1 {
    font-size: 1.2em;
  }
}
